<?xml version="1.0" encoding="utf-8"?>
<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="arity.calculator"
   android:versionCode="6"
   android:versionName="1.5">
  <uses-sdk android:minSdkVersion="4" />
  <application android:label="Arity" android:icon="@drawable/icon" >
    <activity android:name="calculator.Calculator"
              android:label="Arity"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:configChanges="orientation|keyboard|keyboardHidden"
              >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="calculator.ShowGraph"
              android:label="Graph"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              />
    <activity android:name="calculator.ListDefs" android:label="User definitions" />
    <activity android:name="calculator.Help" android:label="Arity Calculator" />
  </application>
</manifest> 
